<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumProject.automation_exercise.tests.ProductsTests"/>
      <class name="SeleniumProject.automation_exercise.tests.LoginTests"/>
      <class name="SeleniumProject.automation_exercise.tests.OrderPurchaseValidation"/>
      <class name="SeleniumProject.automation_exercise.tests.TestCasesTests"/>
      <class name="SeleniumProject.automation_exercise.tests.ContactUsTests"/>
      <class name="SeleniumProject.automation_exercise.tests.CommonPageTests"/>
      <class name="SeleniumProject.automation_exercise.tests.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
